{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}
    <div class="overlay">

        <div class="description text-center">
        <h1>Это веб-приложение "Блог" создано с помощью Symfony фреймворка! </h1>
        </div>
    </div>

{% endblock %}
